body {
    max-width: 1440px;
    font-family: 'Popins';
}

.logoX {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20%;
}

.build {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}

.getstart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    height: 35px;
    width: 30%;
    background-color: hsl(322, 100%, 66%);
    border: none;
    box-shadow: 0px 0px 3px 0px hsl(322, 100%, 66%);
    font-family: "Poppins";
    margin-bottom: 10vh;
}

p {
    width: 50%;
    font-family: "Poppins";
    font-weight: 300;
    text-align: center;
}

.article {
    display: flex;
    width: 100%;
}

.communitiesX {
    width: 50%;
    text-align: center;
}

.messagesX {
    width: 50%;
    text-align: center;
}

.top-1X {
    display: inline-block;
    width: 100%;

}

.illustration-grow-togetherX {
    width: auto;
    display: flex;
    align-items: center;
    margin-top: -2vh;
    background-color: hsl(207, 100%, 98%);
}


.bottomX {
    display: auto;
    width: 100%;

}

.illustration-flowing-conversationX {
    width: auto;
    display: flex;
    align-items: center;
}


.illustration-your-usersX {
    width: auto;
    display: flex;
    align-items: center;
    margin-top: -2vh;
    background-color: hsl(207, 100%, 98%);
}

.illustration-grow-together {
    width: 50%;
}

.illustration-flowing-conversation {
    width: 50%;
}

.illustration-your-users {
    width: 50%;
}

.top-2X {
    display: auto;
    width: 100%;

}

.bottom2X {
    display: auto;
    width: 100%;
}

.container {
    width: 100%;
    display: auto;
    flex-direction: column;
}

.footerX {
    margin-top: 10vh;
    display: inline-block;
    width: 100%;
}
